<!DOCTYPE html>
<html>

<head>

	<title>About Us</title>

	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400' rel='stylesheet' type='text/css'/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="/css/master.css" rel="stylesheet" type="text/css">
    <link href='/css/aboutme.css' rel='stylesheet' type='text/css'/>

</head>

<body>


<!-- Navigation Bar -->
<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container" id="nav-elements">
			<div class="nav-collapse collapse">
			    <ul class="nav">
			      <li>
			        <a href="/">Buzzme</a>
			      </li>
			      <li class ="active">
			        <a href="/about">About Us</a>
			      </li>
			      <li>
			      	<!-- page for all recent posts -->
			      	<a href="/school/all">Recent</a>
			      </li>
			    </ul>
			    <!--Search for a School-->
			      <div class="input-append" id="nav-school-search">
					<input name="school" id="nav-school-search-field" type="text" placeholder="Search for a school">
			      	<button type="submit" class="btn">Search</button>
			      </div>
			</div>
		</div>
	</div>
	<img src="/img/roughlogo2.png" class="logo">
</div>


<div id="wrapper">
	<!-- Blurb -->
	<div>
		<img class="logo" src="/img/Logo 1.png"/>
		<h1>ABOUT US</h1>
		<p>
			BuzzME was created at <a href="http://sf.codeday.org/">CodeDay San Francisco</a> 2013, by team 420 BlazeIT.
		</p>
	</div>

	<!-- Pictures -->
	<center><div class="well pic-well">
		<a href="http://www.facebook.com/analexboyd">
			<img class="pic" alt="Alex Boyd" src="/img/about/picAlexBoyd.png"/>
		</a>
		<a href="http://www.facebook.com/chrisgervang">
			<img class="pic" alt="Chris Gervang" src="/img/about/picChrisGervang.png"/>
		</a>
		<a href="http://www.linkedin.com/in/mikang">
			<img class="pic" alt="Michelle Kang" src="/img/about/picMichelleKang.png"/>
		</a>
		<p/>
		<a href="http://www.facebook.com/sareven">
			<img class="pic" alt="Sara Evensen" src="/img/about/picSaraEvensen.png" />
		</a>
		<a href="http://www.facebook.com/boatlordxx">
			<img class="pic" alt="Shadi Barhoumi" src="/img/about/picShadiBarhoumi.png"/>
		</a>
		<a href="http://www.linkedin.com/pub/yash-plorer/65/85/232">
			<img class="pic" alt="Yash Plorer" src="/img/about/picYashPlorer.png"/>
		</a>
	</div></center>
</div>

</body>
</html>