<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html><html xmlns="http://www.w3.org/1999/xhtml">

<head>

	<title>About Us</title>

	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400' rel='stylesheet' type='text/css'/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href='/css/aboutme.css' rel='stylesheet' type='text/css'/>

</head>

<body>

	
	<!-- Navigation Bar -->
	<div id="navigation">
	    <ul class="nav nav-pills">
	      <li>
	        <a href="/">Home</a>
	      </li>
	      <li class="active">
	        <a href="/about">About Us</a>
	      </li>
	      <li>
	        <a href="#">Most Buzzed</a>
	      </li>

	    </ul>
	</div>

	<!-- Blurb -->
	<div>
		<h1>ABOUT US</h1>
		<a href="buzzme.html">
			<img class="logo" src="/img/Logo 1.png"/>
		</a>
		<p>
			BuzzME was created at <a href="http://sf.codeday.org/">CodeDay San Francisco</a> 2013, by team 420 BlazeiT.
		</p>
	</div>

	<!-- Pictures -->
	<center><div class="well pic-well">
		<a href="http://www.facebook.com/analexboyd">
			<img class="pic" alt="Alex Boyd" src="/img/about/picAlexBoyd.png"/>
		</a>
		<a href="http://www.facebook.com/chrisgervang">
			<img class="pic" alt="Chris Gervang" src="/img/about/picChrisGervang.png"/>
		</a>
		<a href="http://www.linkedin.com/in/mikang">
			<img class="pic" alt="Michelle Kang" src="/img/about/picMichelleKang.png"/>
		</a>
		<a href="http://www.facebook.com/sareven">
			<img class="pic" alt="Sara Evensen" src="/img/about/picSaraEvensen.png" />
		</a>
		<a href="http://www.facebook.com/boatlordxx">
			<img class="pic" alt="Shadi Barhoumi" src="/img/about/picShadiBarhoumi.png"/>
		</a>
		<a href="http://www.linkedin.com/pub/yash-plorer/65/85/232">
			<img class="pic" alt="Yash Plorer" src="/img/about/picYashPlorer.png"/>
		</a>
	</div></center>

</body>
</html>