<!DOCTYPE html>

<html>

	<head>
		<link href="/css/master.css" rel="stylesheet" type="text/css">
		<link href="/css/home.css" rel="stylesheet" type="text/css">

		<title>buzzme</title>
	</head>


<body>

<!-- Navigation Bar -->
<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container" id="nav-elements">
			<div class="nav-collapse collapse">
			    <ul class="nav">
			      <li class="active">
			        <a href="/">Buzzme</a>
			      </li>
			      <li>
			        <a href="/about">About Us</a>
			      </li>
			    </ul>
			    <!--Search for a School-->
		      	<div class="input-append" id="nav-school-search">
					<input name="school" id="nav-school-search-field" type="text" placeholder="Search for a school">
			      	<button type="submit" class="btn">Search</button>
		      	</div>
			</div>
		</div>
	</div>
</div>

<div id="wrapper">
	<!-- Logo -->
	<h1><img class="logo"src="/img/Logo 1.png" alt="Buzzme"></h1>

	<div id="headline">
		Send anonymous compliments to your classmates!
	</div>

	<div class="submissionform well">
		<form id="mainform" method="post" action="/">

			<input id="school" class="topfields" autocomplete='off' type='text' name='school' data-provide='typeahead' data-source=<%=@js_schools_array%> placeholder="What school are you from?">			

			<input class="topfields" type="text" name="target" placeholder="Who are you complimenting?"/>

			<textarea class="bottomfields" type="text" name="message" placeholder="What about 'em?" style="width:92.5%"/></textarea>
			
			<button id = "buzz-button" class="btn btn-large button btn-info" onClick="schoolConfirmation"><i class="icon-comment icon-white"></i> Buzz!</button>

			<!-- 
			<a href="#createSchoolModal" role="button" class="btn btn-large btn-warning" data-toggle="modal">Share!</a> -->

		</form>
	</div>
</div>


<!-- BOOTSTRAP SCRIPT -->
<script src="http://code.jquery.com/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script type="text/javascript">
	function searchList(){
		var school = $('#searchBox').val();
		$.get("/gotoschool/" + school);
	}
</script>
<script type="text/javascript">

   $(document).ready(function() {
		$("#headline").width(($(document).width());
	});

	$(window).resize(function() {
		$("#submissionform").hide(); 
		$("#submissionform").width(($(document).width()));
		$("#submissionform").css('left',200);
		$("#submissionform").height($(document).height());
		$("#submissionform").show();

		$("#headline").hide(); 
		$("#headline").width(($(document).width()));
		$("#headline").css('left',200);
		$("#headline").height($(document).height());
		$("#headline").show();
	});
</script>

</body>

</html>