<!DOCTYPE html>

<html>

	<head>
		<link href="/css/master.css" rel="stylesheet" type="text/css">
		<link href="/css/home.css" rel="stylesheet" type="text/css">

		<title>buzzme</title>
	</head>


<body>

<!-- Navigation Bar -->
<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container" id="nav-elements">
			<div class="nav-collapse collapse">
			    <ul class="nav">
			      <li class="active">
			        <a href="/">Buzzme</a>
			      </li>
			      <li>
			        <a href="/about">About Us</a>
			      </li>
			      <li>
			      	<!-- page for all recent posts -->
			      	<a href="/school/all">Recent</a>
			      </li>
			    </ul>
			    <!--Search for a School-->
		      	<div class="input-append" id="nav-school-search">
					<input name="school" id="nav-school-search-field" type="text" placeholder="Search for a school">
			      	<button type="submit" class="btn">Search</button>
		      	</div>
			</div>
		</div>
	</div>
	<img src="/img/roughlogo2.png" class="logo">
</div>

<div id="wrapper">
	<!-- Logo -->
	<h1><img class="logo"src="/img/Logo 1.png" alt="Buzzme"></h1>

	<div id="headline">
		Send anonymous compliments to your classmates!
	</div>

	<div class="submissionform well">
		<form id="mainform" method="post" action="/">

			<input id="school" class="topfields" autocomplete='off' type='text' name='school' data-provide='typeahead' data-source=<%=@js_schools_array%> placeholder="What school are you from?">			

			<input class="topfields" type="text" name="target" placeholder="Who are you complimenting?"/>

			<textarea id="message-input" type="text" name="message" placeholder="What about 'em?"></textarea>
			
			<button id = "buzz-button" class="btn btn-large button btn-info" onClick="schoolConfirmation"><i class="icon-comment icon-white"></i> Buzz!</button>
		</form>
	</div>
</div>

<!-- createSchool modal -->
<div id="overlay" class="" onclick="close_modal();"></div>
<div id="modal" class="">
	<div id="createSchool" class="well">

		<h1>Create School</h1>

	    <form id="createSchoolForm" class="well" method="post" action="/create/school">
	        <input class="school-fields" type="text" name="school" placeholder="School Name"/>
	        <input class="school-fields" type="text" name="zipcode" placeholder="Zip Code"/>


	        <button class="btn btn-large button btn-info" type="submit">Create!</button>
	    </form> 

	</div>
</div>

<script src="http://code.jquery.com/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script type="text/javascript">

var close_modal = function() {
	$$("#overlay").removeClass('active');	
	$$("#modal").removeClass('active');
};
var open_modal = function() {
	$$("#overlay").addClass('active');
	$$("#modal").addClass('active');
};

if modal_time === true {
	open_modal();
}

</script>

</body>

</html>