<!DOCTYPE html>
<html>
<head>
	<title>Error 404</title>
	<link href="/css/master.css" rel="stylesheet" type="text/css">	
	<script type="text/javascript">
		function createSchool() {
			show(prompt("What is the name of your school?", "School Name"));
		}
	</script>

</head>

<body>

<!-- Navigation Bar -->
<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container" id="nav-elements">
			<div class="nav-collapse collapse">
			    <ul class="nav">
			      <li class="active">
			        <a href="/">Buzzme</a>
			      </li>
			      <li>
			        <a href="/about">About Us</a>
			      </li>
			    </ul>
			    <!--Search for a School-->
		      	<div class="input-append" id="nav-school-search">
					<input name="school" id="nav-school-search-field" type="text" placeholder="Search for a school">
			      	<button type="submit" class="btn">Search</button>
		      	</div>
			</div>
		</div>
	</div>
	<img src="/img/roughlogo2.png" class="logo">
</div>

<div id="wrapper">
	<h1>This page doesn't seem to exist! Do you want to create it?</h1>
	<button type="button" class="btn btn-info" onclick="createSchool()">Create School</button>
</div>
</body>

<style type="text/css">

body {
	text-align: center;
}
h1 {
	padding: 20px;
	padding-top: 50px;
}
input[type="text"]{
	height: 30px;
	padding: 4px 6px;
}

</style>
</html>
