<head>
	<link href="/css/master.css" rel="stylesheet" type="text/css">	
</head>


<body>
<div id="wrapper">

	<h1>This page doesn't seem to exist! Do you want to <a href="/create_school.erb">create it</a>?</h1>

	<button class="btn btn-large btn-info" href="/">Back to home? </button>

</div>
</body>



<style type="text/css">

body {
	text-align: center;
}
h1 {
	padding: 20px;
}

</style>

