<!DOCTYPE html>
<html>
<head>
	<title>404 :(</title>
	<link href="/css/master.css" rel="stylesheet" type="text/css">
	<link href="/css/not_found.css" rel="stylesheet" type="text/css">
</head>

<body>

<!-- Navigation Bar -->
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container" id="nav-elements">
            <div class="nav-collapse collapse">
                <ul class="nav">
                  <li>
                    <a id="buzzme" href="/">Buzzme</a>
                  </li>
                  <li>
                    <a href="/about">About Us</a>
                  </li>
                  <li>
                    <!-- page for all recent posts -->
                    <a href="/feed">Recent</a>
                  </li>
                </ul>
                <!--Search for a School-->
                <div class="input-append" id="nav-school-search">
                    <input name="school" id="nav-school-search-field" type="text" placeholder="Search for a school">
                    <button type="submit" class="btn">Search</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="wrapper">
	<h1>404 :(</h1> 

	<div class="error-message">
		<p>We can't find the page you're looking for.</p>
		<p>Head back to our <a href="/">homepage</a>.</p>
	</div>
	<img class="logo"src="/img/Logo 1.png" alt="Buzzme">
</div>
</body>

<style type="text/css">

body {
	text-align: center;
}
h1 {
	padding: 20px;
	padding-top: 50px;
}
input[type="text"]{
	height: 30px;
	padding: 4px 6px;
}

</style>
</html>
