body {
	text-align: center;
    font-family: 'Open Sans', sans-serif;
}
p {
	padding-bottom: 10px;
}

.pic {
	width: 15%;
	min-width: 150px;
	height: auto;
	padding: 0.2%;
}

.pic-well {
	padding-bottom: 0px;
	padding-top: 20px;
	padding-left: 0px;
	padding-right: 0px;
	width: 500px;
/*	background-image: -webkit-linear-gradient(top, #FFFFFF, #FFFFE6);
	background-image: -moz-linear-gradient(top, #FFFFFF, #FFFFE6);
*/	bottom: 50px;
}

.logo {
	padding-top: 60px;
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 200px;
}