h1 {
	margin-bottom: 0px;
}

.logo {
	padding-top: 50px;
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 200px;
}

#headline {
	text-align: center;
	font-weight: bold;
	font-size: 30px;
	padding: 20px;
}

.submissionform {
	text-align: center;
	
	width: 45%;
	min-width: 400px;
	margin-right: auto;
	margin-left: auto;

	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);

}

form #mainform {
	margin: 0px;
}
.topfields {
	width: 44%;
}

.bottomfields{
	width: 92.5%;

}

#buzz-button {
	width: 92.5%;
}