h1 {
	margin-bottom: 0px;
}

.logo {
	padding-top: 50px;
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 150px;
}

#headline {
	text-align: center;
	font-weight: bold;
	font-size: 30px;
	padding: 20px;
}

.submissionform {
	text-align: center;
	width: 50%;
	margin-right: auto;
	margin-left: auto;
	min-width: 400px;

	-webkit-box-shadow: 2px 2px 8px 0px rgb(193, 193, 193);
    -moz-box-shadow: 2px 2px 8px 0px rgb(193, 193, 193);
    box-shadow: 2px 2px 8px 0px rgb(193, 193, 193);
}

.topfields {
	width: 44%;
}

#message-input{
	width: 92.5%;
	height: 70px;

}

#buzz-button {
	width: 92.5%;
}