/*Import Reset and Bootstrap Stylesheets*/
@import url(/css/reset.css);
@import url(/css/bootstrap.min.css);

/*Import Fonts*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

/*Head and Body Global Rules*/
html {
    /*This allows the wrapper to extend to the bottom*/
    height: 100%;
}

body { 
    background-image: url('http://www.desktopwallpaperhd.net/wallpapers/17/6/blue-vector-clouds-devianart-nkspace-175270.jpg');
    /*background-image: url('http://wallpapersus.com/wallpapers/2012/10/Cartoon-Clouds-And-Blue-Sky-1800x2880.jpg');*/
    /*background-image: url('http://www.wallm.com/images/t/1280x960/6604-vector-blue-sky-and-white-clouds-desktop-backgrounds-1280x960.jpg');*/
    background-attachment: fixed; 
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    font-color: #333;
    background-color: #008FC4;
    height: 100%;
}

#wrapper {
    background: url("https://abs.twimg.com/a/1362702324/t1/img/wash-white-30.png") repeat fixed 0% 0% transparent;
    min-height: 100%;
    width: 75%;
    padding: 1px;
    margin: 0px auto;
    max-width: 930px;
    min-width: 670px;
    -webkit-box-shadow: 0px 0px 5px rgb(193, 193, 193);
    -moz-box-shadow: 0px 0px 5px rgb(193, 193, 193);
    box-shadow: 0px 0px 5px rgb(193, 193, 193);

}

/*All textareas not resizeable by default*/
textarea {
    resize: none;
}

/*Navigation Bar Rules*/
.navbar-fixed-top {
	margin: 0px;
	padding: 0px;
}

#nav-school-search {
	position: relative;
	top: 5px;
	float: right;
}
#nav-school-search-field {
	width: 200px;
}
#nav-elements {
	width: 75%;
	max-width: 930px;
	min-width: 670px;
}
.nav > a {
    font-weight: normal;
}

/*Background Image*/
body {
    background-image: url('http://www.desktopwallpaperhd.net/wallpapers/17/6/blue-vector-clouds-devianart-nkspace-175270.jpg');
    background-attachment: fixed;
}
