h1 {
	float: left;
	font-size: 70px;
	margin: 10px;
	margin-top: 30px;
}

.error-message {
	display: block;
	margin: auto;
	margin-top: 200px;
	width: 500px;
}

p {
	font-weight: bold;
	font-size: 25px;
	line-height: 30px;
	text-align: left;
}

img.logo {
	padding-top: 60px;
	display: block;
	margin: auto;
	width: 150px;
}

.error-message a {
	text-decoration: none;
}

.error-message a:hover {
	text-decoration: none;
	color: yellow;
}