
body {
	text-align: center;
}

div#wrapper h1 {
	padding: 20px;
	padding-top: 50px;
}

div#overlay {
	display: none;
}
div#overlay.active {
	display: block;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

div#modal {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	display: none;
}

div#modal.active {
	position: fixed;
	top: 25%;
	left: 25%;
	display: block;
	width: 50%;
	z-index: 10;
	margin-left: auto;
	margin-right: auto;
}

div#createSchool {
	display: block;
	width: 25%;
	min-width: 400px;
	margin-right: auto;
	margin-left: auto;
	padding: 40px;

	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
}
input.school-fields {
	height: 25px;
	padding-bottom: 3px;
}

form button.button {
	display: block;
	margin-right: auto;
	margin-left: auto;
}