body {
	background-image: url('/textures/beetexture.png');
    background-attachment: fixed;
    font-family: 'Open Sans', sans-serif; 
    font-weight: 300;
}

.logo {
    position: fixed;
    right: 15px; 
    top: 45px; 
    width: 110px; 
    height: 138px;
}

.thanks {
    background-color: #594cd8;
    margin-bottom: 30px;
    padding-bottom: 20px;
    }

.school {
    padding-top: 40px;
    font-size: 60px;
    color: #3514DC;
}

#navigation {
    position: fixed;
    width: 100%;
    padding: 0px;
    height: 35px;
    background-color: #5EC4CD;
    border-color: black;
}

.nav-pills > .active > a, .nav-pills > .active > a:hover {
    background-image: -webkit-linear-gradient(top, #FF9E18, #FFB146);
    background-image: -moz-linear-gradient(top, #FF9E18, #FFB146);
}

.nav-pills > li > a:hover {
    background-image: -webkit-linear-gradient(top, #FFB146, #FF9E18);
    background-image: -moz-linear-gradient(top, #FFB146, #FF9E18);
}

.nav-pills {
    color: #85898B;
    background-color: black;
    padding: 3px;
}

.sidebar-nav-fixed {
    position:fixed;    
	top:70px;
    overflow:hidden;
    float:left;
    width:20%;
    min-height:100px;
    min-width: 150px;
    border: 10px solid #A08DFF;
    background-color: #FFFFFF;
    height:auto !important;
    height:100px; 
    box-shadow: 2px 2px 2px #888888;
    }

.bar {
    font-family: 'Open Sans', sans-serif; 
    color: #ffffff;
    font-size: 16px;
    background-color: #22296D;
    height: 50px;
    width: 80px;
}

.row-padded {
    padding: 35px;
    background-color: #F7F7F7;
    border: 10px solid #DDD;
}

.target-name {
    font-weight: bold;
    color: #333399;
}

.message-text {
    display: block;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 10px;
}

.message-controls {
}

.message {
    box-shadow: 2px 2px 2px #888888;
    background-image: -webkit-linear-gradient(top,#ffffff,#FBF2E5);
    background-image: -moz-linear-gradient(top,#ffffff,#FBF2E5);
}