textarea {
    resize: none;
}

form {
    margin: 0px;
}

a {
    color: #08c;
    text-decoration: none;
}

a:hover {
    color: red;
    text-decoration: none;
}

h1#breadcrumb {
    color: #08c;
    padding: 0px;
    font-size: 38.5px;
    font-weight: 600;
    line-height: 40px;
    color: #333399;
}

h1 #breadcrumb-separator {
    color: #08c;
}

h1#breadcrumb a {
    color: #333399;
}

h1#breadcrumb a:hover {
    color: yellow;
}

#wrapper {
    background: url("https://abs.twimg.com/a/1362702324/t1/img/wash-white-30.png") repeat fixed 0% 0% transparent;
    min-height: 100%;
    width: 75%;
    padding: 1px;
    margin: 0px auto;
    max-width: 930px;
    min-width: 670px;
    -webkit-box-shadow: 0px 0px 5px rgb(193, 193, 193);
    -moz-box-shadow: 0px 0px 5px rgb(193, 193, 193);
    box-shadow: 0px 0px 5px rgb(193, 193, 193);

}

#page {
    width: 95%;
    /*background-color: white;*/
    margin-top: 50px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    max-width: 900px;
    min-width: 650px;
}

#sort {
    margin: 10px auto;
    /*min-width: 60%;*/
    font-size: 14px;
    /*TODO: how not to specify fixed width?*/
    width: 250px;
}


#sort a:hover {
    color: yellow;
}

#sort a.current-sort {
    color: yellow;
}

#feed {
    width: 60%;
    float: left;
    margin-right: 5%;
    /*background-color: yellow;*/
}

#sidebar {
    width: 30%;
    float: left;
    background-color: yellow;
    position: relative;

    min-height: 20px;
    padding: 15px;
    margin-top: 40px;
    margin-bottom: 20px;
    /*background-color: #f5f5f5;*/
    border: 1px solid #e3e3e3;
    
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
}


#sidebar-enter-name {
    width: 85%;
    margin-left: 5%;
}

#sidebar-enter-message {
    width: 85%;
    margin-left: 5%;
    height: 120px;
}

#buzz-button {
    margin: 0px;
    margin-left: 5%;
    width: 90%;
}

#compliment-label {
    padding-bottom: 10px;
}

.message {
    min-height: 20px;
    padding: 19px 19px 5px 19px;
    margin-bottom: 10px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
}

#target-name {
    font-weight: 900;
    color: #333399;
}

#target-name:hover {
    color: green;
}

.message-body {
    display: block;
    font-weight: 500;
    padding: 7px 10px 5px 10px;
}

.timestamp {
    float: left;
}

.message-controls {
    float: right;
    /*margin-right: 5%;*/
}

.message-bottom-bar {
    font-size: 12px;
    overflow: hidden;
}