<% if @results.empty? %>
	<h1>No results for "<%= params["school"] %>"!</h1>

<% else %>
	<h1>Search results for "<%= params["school"] %>"</h1>
<ol>
	<% @results.each do |school| %>
	<!-- display school City, State here -->
	<li><a href="/school/<%=school["id"]%>/recent"><%= school["name"] %></a></li>
	<% end %>
</ol>

<% end %>

<p>Can't find your school here? <a href="/create/school">Create a new school</a>.</p>